body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: arial, sans-serif;
}

.header a {
    color: rgba(0, 0, 0, 0.87);
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

.header a img {
    border-radius: 50%;
}

.section {
    width: 100%;
    height: calc(84% - 5em);
    margin-top: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section div.logo {
    text-align: center;
    margin-bottom: 20px;
}

.section div.logo img {
    /* width: 50%; */
    height: 120px;
}

.section div.text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.section div.text input {
    width: 60%;
    height: 50px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 20px;
}

.section div.text input:focus {
    border-color: #4285f4;
    outline: none;
}

.section div.buttons {
    margin-bottom: 20px;
}

.section div.buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

.section div.buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.section div.language-alert {
    font-size: 13px;
    font-family: arial, sans-serif;
}

.footer {
    width: 100%;
    height: 8%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer a {
    color: #70757a;
    text-decoration: none;
    font-size: 15px;
    font-family: arial, sans-serif;
    padding-left: 30px;
}