body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: arial, sans-serif;
}

.header a {
    color: rgba(0, 0, 0, 0.87);
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

.header a i {
    font-size: 20px;
}

.header a img {
    border-radius: 50%;
}

.section {
    width: 100%;
    height: calc(82% - 5em);
    margin-top: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section div.logo {
    text-align: center;
    margin-bottom: 20px;
}

.section div.logo img {
    /* width: 50%; */
    height: 120px;
}

.section div.text {
    min-width: 50%;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section div.text:hover {
    border: 1px solid #9c9c9e;
}

.section div.text a {
    flex: 1;
    color: #9aa0a6;
}

.section div.text input {
    height: 50px;
    padding: 20px;
    flex: 15;
    border: none;
}

.section div.text input:focus {
    border-color: #4285f4;
    outline: none;
}

.section div.buttons {
    margin-bottom: 20px;
}

.section div.buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

.section div.buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.section div.language-alert {
    font-size: 13px;
    font-family: arial, sans-serif;
}

.footer {
    width: calc(100% - 4em);
    height: 10%;
    padding: 0 2em;
    background: #f2f2f2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer div.first {
    width: 100%;
    line-height: 3em;
}

.footer div.second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #70757a;
    text-decoration: none;
    font-size: 15px;
    font-family: arial, sans-serif;
    /* padding-left: 30px; */
    text-align: center;
    margin-right: 3em;
}